<div class="w-full flex justify-center items-center">
    <div id="default-carousel" class="relative w-[40rem] h-[40rem]" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-full overflow-hidden rounded-lg ">
            <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/titulos%2FcarreraFrontEnd.png?alt=media&token=a0b2f0c0-a0e3-4d40-919b-615bf781df94" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/titulos%2Freact.png?alt=media&token=4e53ffdb-dc66-42cd-ace4-3e2b804a6bfe" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 3 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/titulos%2Fjs.png?alt=media&token=bda8a678-8ab0-4742-8769-f7897f04d5ea" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 4 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/titulos%2FdesarrolloWeb.JPG?alt=media&token=4cb5ffc3-0d4e-4f36-a9b3-61c64ad055d8" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 5 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/titulos%2FtituloUNSAM-final_diplomatura.png?alt=media&token=ec0d55e9-c28b-4784-bc92-57582c935c68" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 6 -->
            <div class="hidden duration-700 ease-in-out " data-carousel-item>
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/titulos%2FtituloUNSAM3.png?alt=media&token=fafaf535-fac2-47bb-b38f-8fd91edba104" class="rounded-3xl absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 7 -->
            <div class="hidden duration-700 ease-in-out " data-carousel-item>
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/titulos%2FtituloUNSAM2.png?alt=media&token=1dd3e0bb-c6ae-4bfe-9143-305c2dd47f68" class="rounded-3xl absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 8 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/titulos%2FtituloUNSAM1.png?alt=media&token=a0b4a3a4-570c-4e7d-9086-ac85945720e7" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 9 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/titulos%2Fgoogle-ads.png?alt=media&token=94fd14d1-47c7-4108-b815-1bb746d84d6a" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 10 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/titulos%2FIMG_0079.jpg?alt=media&token=d1c06039-5324-42a4-adc5-ae4b576034e5" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
        </div>
        <!-- Slider indicators -->
        <!-- <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6" data-carousel-slide-to="5"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 7" data-carousel-slide-to="6"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 8" data-carousel-slide-to="7"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 9" data-carousel-slide-to="8"></button>
        </div> -->
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>