<div id="default-carousel" class="relative w-full grayscale hover:grayscale-0" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-80 overflow-hidden rounded-lg   bg-white">
        <!-- Item 1 -->


        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <a href="https://webmasterstudio.com.ar/" target="_blank">

                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2Fwebmaster.png?alt=media&token=bea4a3ec-b4ed-4cf9-9cf4-ef373a21d32c" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </a>
        </div>

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <a href="https://surfclub.com.ar/" target="_blank">
                
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2Fsurfclub.png?alt=media&token=8c021362-da58-4eb0-9034-96d9f2242502" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </a>
        </div>
        
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <a href="https://tesla-web-clon.vercel.app/" target="_blank">
            
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2Ftesla.png?alt=media&token=4cba02ef-7a67-4b8c-b64f-005faa7cb3dd" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </a>
        </div>

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <a href="https://password-generator-six-liart.vercel.app/" target="_blank">
                
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2FsecurePasswordWidth.png?alt=media&token=17a5d30d-f41c-43ba-8da6-8cfbe685c3b9" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </a>
        </div>

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <a href="https://sh4dowpri3st.github.io/GLOBAL_TRANSPORT_WEB-v2.1-grid/" target="_blank">

                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2FglobalTransportFull.png?alt=media&token=30ea4fba-e41f-48e9-b0cd-5f3199c5ddc7" alt="...">
            </a>
        </div>


        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <a href="https://eshop-firebase-six.vercel.app/" target="_blank">

                <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2FgammerGearWidth2.png?alt=media&token=7cc26b03-d9e6-4c08-9e9a-e8c108df9821" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </a>
        </div>
        <!-- Item 2 -->

        
        <!-- Item 3 -->
        
        
        
        <!-- Item 4 -->
        
        <!-- Item 5 -->
        
        <!--Item 6 -->
        
        
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6" data-carousel-slide-to="5"></button>
    </div>
    <!-- Slider controls -->
    <!-- <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button> -->
</div>