<div class="w-full h-full sm:flex sm:justify-center  ">
    
    <div id="default-carousel" class="relative w-[90%] sm:w-[30%] flex justify-center" data-carousel="slide">

        <div class="relative h-20 w-20 overflow-hidden rounded-lg sm:h-30 sm:w-30 md:h-40 md:w-40 m-5 lg:h-50 lg:w-50 xl:h-60 xl:w-60">
    
            <div class="  flex justify-center items-center rounded-3xl  border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%]  absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Freact-icon.png?alt=media&token=053b1e34-d226-407b-900e-606d147d7288" alt="react icon">
            </div>
            
            <div class="  flex justify-center items-center rounded-3xl  border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fjs.png?alt=media&token=43a127e6-6656-4e8b-bb33-3887a3976ace" alt="javascript icon">
            </div>
            <div class="  flex justify-center items-center rounded-3xl  border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fcss(1).png?alt=media&token=b914da1b-1645-4a67-93d7-ac9e364c0c5c" alt="ccs icon">
            </div>
            
            <div class="  flex justify-center items-center rounded-3xl  border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fphotoshop2.png?alt=media&token=56f09b7a-67f9-4ddb-9cce-3248692a9244" alt="photoshop icon">
            </div>

        </div>

    </div>
    
    <div id="default-carousel" class="relative w-[90%] sm:w-[30%] flex justify-center" data-carousel="slide">
    
        <div class="relative h-20 w-20 overflow-hidden rounded-lg sm:h-30 sm:w-30 md:h-40 md:w-40 m-5 lg:h-50 lg:w-50 xl:h-60 xl:w-60">
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fhtml-5(3).png?alt=media&token=9e107d10-0093-4400-a0df-0adba7baef4e" alt="html5 icon">
            </div>
    
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fbootstrap.png?alt=media&token=97223947-9d1a-40ad-b6ec-ef42b1cd77b3" alt="boostrap icon">
            </div>
            
            
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fpython1.png?alt=media&token=bcca3b72-9095-4b49-a566-59295d5e5711
                " alt="python icon">
            </div>
            
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Ficons8-c-programaci%C3%B3n-480.png?alt=media&token=2142da95-c1b1-4c51-97c0-8cd13927e499
                " alt="c icon">
            </div>
        </div>
        
        
    </div>
    
    <div id="default-carousel" class="relative w-[90%] sm:w-[30%] flex justify-center" data-carousel="slide">
        
        <div class="relative h-20 w-20 overflow-hidden rounded-lg sm:h-30 sm:w-30 md:h-40 md:w-40 m-5 lg:h-50 lg:w-50 xl:h-60 xl:w-60">
            
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2F9073628_tailwind_icon.png?alt=media&token=3c8ea349-6f43-4a1e-a991-2f7f7cde200f" alt="tailwind icon">
            </div>
            
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fmui.png?alt=media&token=487c0c2f-bb9a-4929-bd0d-9af1fa453411" alt="mui icon">
            </div>
            
    
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fgithub1.png?alt=media&token=b8abe8cd-1d82-4197-93a4-ba6e22212bee" alt="github icon">
            </div>

            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fastro-logo.svg?alt=media&token=a328ed34-2484-47fd-a0d7-b9e09b652e26" alt="astro icon">
            </div>
        </div>
        
        
    </div>

    <div id="default-carousel" class="relative w-[90%] sm:w-[30%] lg:flex justify-center hidden" data-carousel="slide">
        
        <div class="relative h-20 w-20 overflow-hidden rounded-lg sm:h-30 sm:w-30 md:h-40 md:w-40 m-5 lg:h-50 lg:w-50 xl:h-60 xl:w-60">
            
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fgit(1).png?alt=media&token=e5ec8f78-b729-4c2c-a394-2aae76a67a01" alt="git icon">
            </div>
            
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fsass(2).png?alt=media&token=d9dc4eab-8d12-4d6c-a844-7688d17f674b" alt="sass icon">
            </div>
            
    
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fwordpress.png?alt=media&token=4dd9b870-fd33-42df-8f12-243894a10949" alt="wordpress icon">
            </div>
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/black-abstract.jpg?alt=media&token=eb5f66fe-0912-4215-903a-590e8e88d998'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/tech%2Fnetlify.png?alt=media&token=7e03a171-a316-4b39-804b-abe548ba3c81" alt="netlify icon">
            </div>
            
        </div>
        
        
    </div>
</div>