<div class="  h-full  grid grid-cols-2 md:grid-cols-3 gap-4 m-5">
    <div class=" max-w-[15rem] max-h-[15rem] flex items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg');">
        <img class="h-auto max-w-[100%] sm:max-w-[60%] rounded-lg mx-auto " src="../../public/tecnologias/react-icon.png" alt="">
    </div>
    <div class="max-w-[15rem] max-h-[15rem] flex items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg');">
        <img class="h-auto max-w-[100%] sm:max-w-[60%] rounded-lg mx-auto " src="../../public/tecnologias/js1.png" alt="">
    </div>
    <div class="max-w-[15rem] max-h-[15rem] flex items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg');">
        <img class="h-auto max-w-[100%] sm:max-w-[60%] rounded-lg mx-auto " src="../../public/tecnologias/html-5(3).png" alt="">
    </div>
    <div class="max-w-[15rem] max-h-[15rem] flex items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg');">
        <img class="h-auto max-w-[100%] sm:max-w-[60%] rounded-lg mx-auto " src="../../public/tecnologias/css(1).png" alt="">
    </div>
    <div class="max-w-[15rem] max-h-[15rem] flex items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg');">
        <img class="h-auto max-w-[100%] sm:max-w-[60%] rounded-lg mx-auto " src="../../public/tecnologias/wordpress.png" alt="">
    </div>
    <div class="max-w-[15rem] max-h-[15rem] flex items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg');">
        <img class="h-auto max-w-[100%] sm:max-w-[60%] rounded-lg mx-auto " src="../../public/tecnologias/python(2).png" alt="">
    </div>
    <div class="max-w-[15rem] max-h-[15rem] flex items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg');">
        <img class="h-auto max-w-[100%] sm:max-w-[60%] rounded-lg mx-auto " src="../../public/tecnologias/letter-c(1).png" alt="">
    </div>
    <div class="max-w-[15rem] max-h-[15rem] flex items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg');">
        <img class="h-auto max-w-[100%] sm:max-w-[60%] rounded-lg mx-auto " src="../../public/tecnologias/bootstrap.png" alt="">
    </div>
    <div class="max-w-[15rem] max-h-[15rem] flex items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg');">
        <img class="h-auto max-w-[100%] sm:max-w-[60%] rounded-lg mx-auto " src="../../public/tecnologias/9073628_tailwind_icon.png" alt="">
    </div>
    <div class="max-w-[15rem] max-h-[15rem] flex items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg');">
        <img class="h-auto max-w-[100%] sm:max-w-[60%] rounded-lg mx-auto " src="../../public/tecnologias/mui.png" alt="">
    </div>
    <div class="max-w-[15rem] max-h-[15rem] flex items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg');">
        <img class="h-auto max-w-[100%] sm:max-w-[60%] rounded-lg mx-auto " src="../../public/tecnologias/git(1).png" alt="">
    </div>
    <div class="max-w-[15rem] max-h-[15rem] flex items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg');">
        <img class="h-auto max-w-[100%] sm:max-w-[60%] rounded-lg mx-auto " src="../../public/tecnologias/github(1).png" alt="">
    </div>
</div>