---
---
<div class="overflow-hidden mx-2 p-1 sm:m-5  sm:p-5  h-full w-full flex flex-col  justify-center sm:justify-between border-4 border-neutral-800 rounded-3xl bg-position-center bg-size-auto bg-cover bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/moon2.jpg?alt=media&token=b4244afd-8180-4cf7-a73c-e4cd6c868dfc');">
    
        <div class=" flex sm:justify-start justify-center mb-3 sm:mb-10 sm:m-10">
            <img src="../../public/space-colony.png" class=" h-[2rem] sm:h-[3rem] md:h-[4rem] lg:h-[5rem] xl:h-[6rem] me-5" alt="">
            <h2 class="  text-xl sm:text-5xl md:text-6xl lg:text-7xl   bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-pink-500 font-extrabold">
                PROJECTS 
            </h2>
        </div>
        
        <h3 class="hidden md:flex w-[70%] font-bold my-5 mx-10 text-white text-2xl text-start">
            With my web development studio I gained experience in different projects for different clients. These are my latest projects. To see all my work and in detail, click "see more".        </h3>
        
            
        <div class="sm:flex justify-evenly items-end p-5 ">
            
            <figure class="mx-5 relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 ">
                <a href="https://eshop-firebase-six.vercel.app/" target="_blank">
                    <img class="rounded-lg" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2FgammerGear2.png?alt=media&token=1fe3ab05-c10d-4a88-8d9f-884cec1c34ae" alt="image description">
                </a>
                <figcaption class="absolute px-4 text-2xl text-black font-extrabold bottom-6">
                    <p class="text-xs sm:text-lg lg:text-2xl">GAMMER GEAR</p>
                </figcaption>
            </figure>

            <figure class="mx-5 relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 ">
                <a href="https://surfclub.com.ar/" target="_blank">
                    <img class="rounded-lg" src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2Fsurfclub.png?alt=media&token=8c021362-da58-4eb0-9034-96d9f2242502" alt="image description">
                </a>
                <figcaption class="absolute px-4 text-2xl  text-black font-extrabold bottom-6 ">
                    <p class="text-xs sm:text-lg lg:text-2xl">SURF CLUB</p>
                </figcaption>
            </figure>

            <div class="mt-3 text-center">
                <a href="/MoreProjects" class="mx-auto relative inline-flex items-center justify-center p-1 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
                    <span class=" h-[2rem] lg:h-[3rem] text-xs sm:text-md lg:text-xl font-bold flex justify-center items-center relative px-5 py-2.5 transition-all ease-in duration-75 bg-neutral-800 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    SEE MORE !
                    </span>
                </a>
            </div>
            
        </div>
        
    
        <!-- <div class="w-full flex justify-center mx-5">
            <CarouselProjects/>
            <div>
                
            </div>
        </div> -->
</div>
