<div class="sm:flex my-20">
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2FgammerGear.png?alt=media&token=3f3fff39-f94c-4b03-97f5-6949850d8c8e" class="w-[40rem] rounded-xl" alt="">
    </div>
    <div class="sm:w-[50%] sm:m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Gammer Gear</h3>
        <div>
            <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">React</span>
            <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Vite</span>
            <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
            <!-- <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span> -->
            <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span>
            <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
            <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span>
            <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">Firebase</span>
        </div>
        <p class="text-xl ">Este proyecto es un e-shop de componentes informaticos desarrollado en React con Vite para cliente. Cuenta con categorias dinamicas de productos, se utilizo Hooks, React Router Dom con 4 secciones, carrito de compras modificable, servicio de notificaciones atravez de useContext. Es una web funcional para realizar compras por medio de pedidos. El Backend fue configurado con Firebase a los servicios de DataBase y Storage. El maquetado es con Boostrap y se uso react-spinners para los tiempos muertos en las llamadas asincronicas a la base de datos. </p>

        
        <div class="flex justify-center items-center">
            <a href="https://eshop-firebase-six.vercel.app/" target="_blank">
                <button class="font-bold relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xs sm:text-md lg:text-lg  text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-black dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        Visit website
                    </span>
                </button>
            </a>
            
            <a href="https://github.com/LLBdeveloper/eshopFIREBASE" target="_blank">
                <button type="button" class="text-white bg-[#24292F] hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm sm:text-lg lg:text-xl px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2">
                    <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    Github
                </button>
            </a>
        </div>

    </div>
    
</div>

<div class="w-full h-3 bg-white"></div>

<div class="sm:flex my-20">
    <div class="sm:w-[50%] sm:m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Surf Club</h3>
        <div>
            <div>
                <!-- <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">React</span> -->
                <!-- <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Astro</span> -->
                <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
                <!-- <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span> -->
                <!-- <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span> -->
                <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
                <!-- <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span> -->
                <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">SASS</span>
            </div>
        </div>
        <p class="text-xl ">Sitio web para cliente "Surf club" fabricante de tablas de Bs As. Fue desarrolado con Vanilla JavaScript, HTML, CSS puro, SASS para manejar el css, flexbox y grid para el maquetado. Tiene 4 secciones, catalogo de productos, con formulario de consulta y contacto. Animaciones con la libreria Animate.css. </p>

        


        <div class="flex justify-center items-center">
            <a href="https://surfclub.com.ar/" target="_blank">
                <button class="font-bold relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xs sm:text-md lg:text-lg  text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-black dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        Visit website
                    </span>
                </button>
            </a>
                
                
            
            
            
            
            <a href="https://github.com/LLBdeveloper/EntregaFinal_Bertera-SURF-CLUB-WEB" target="_blank">
                <button type="button" class="text-white bg-[#24292F] hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm sm:text-lg lg:text-xl px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2">
                    <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    Github
                    </button>
            </a>
            


        </div>

    </div>
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2Fsurfclub.png?alt=media&token=8c021362-da58-4eb0-9034-96d9f2242502" class="w-[40rem] rounded-xl" alt="">
    </div>
</div>

<div class="w-full h-3 bg-white"></div>

<div class="sm:flex my-20">
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2Fwebmaster.png?alt=media&token=bea4a3ec-b4ed-4cf9-9cf4-ef373a21d32c" class="w-[40rem] rounded-xl" alt="">
    </div>
    <div class="sm:w-[50%] sm:m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Webmaster Studio</h3>
        <div>
            <div>
                <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">WordPress</span>
                <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">WPForms</span>
                <!-- <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
                <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span>
                <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span>
                <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
                <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span>
                <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">MUI</span> -->
            </div>
        </div>
        <p class="text-xl ">Web para emprendimiento personal en desarrollo web y software. Fue configurada con WordPress, tiene 4 secciones principales, formulario de contacto con plugin WPForms, secciones de servicios y precios, seccion nosotros.</p>

                <div class="flex justify-center items-center">
            
            <a href="https://webmasterstudio.com.ar/" target="_blank">

                <button class="font-bold relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xs sm:text-md lg:text-lg  text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-black dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Visit website
            </span>
        </button>
            </a>
            
            
            <a href="" target="_blank">


                <button type="button" class="text-white bg-[#24292F] hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm sm:text-lg lg:text-xl px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2">
                    <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    Github
                    </button>
            </a>
            


        </div>

    </div>
</div>

<div class="w-full h-3 bg-white"></div>
<!--  -->




<div class="sm:flex my-20">
    <div class="sm:w-[50%] sm:m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Portfolio LLB</h3>
        <div>
            <div>
                <!-- <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">React</span> -->
                <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Astro</span>
                <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
                <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span>
                <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span>
                <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
                <!-- <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span> -->
                <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">Canvas</span>
            </div>
        </div>
        <p class="text-xl ">Este proyecto es mi Portfolio personal de 4 secciones principales con efecto Snap. Se desarrollo con el framework Astro, dando uso a tecnologias como HTML, CSS y JS. Se maqueto con Tailwind, Flexbox y Grid. Se usaron librerias como Flowbite para componentes, Animate.css para efectos y Canvas para animaciones.</p>

                <div class="flex justify-center items-center">
            
            <a href="https://portfolio-llb.vercel.app/" target="_blank">

                <button class="font-bold relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xs sm:text-md lg:text-lg  text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-black dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Visit website
            </span>
        </button>
            </a>
            
            
            <a href="https://github.com/LLBdeveloper/PortfolioLLB" target="_blank">


                <button type="button" class="text-white bg-[#24292F] hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm sm:text-lg lg:text-xl px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2">
                    <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    Github
                    </button>
            </a>
            


        </div>

    </div>
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2Fportfolio.png?alt=media&token=1015da45-89b8-4bfa-a27b-fa7f391434f7" alt="">
    </div>
</div>






<div class="w-full h-3 bg-white"></div>


<div class="sm:flex my-20">
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/LOL.jpeg?alt=media&token=83443511-ff50-42a5-a0bd-754f8864d329" class="w-[40rem] rounded-xl" alt="">
    </div>
    <div class="sm:w-[50%] sm:m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Lots Of Learning</h3>
        <div>
            <div>
                <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">React</span>
                <!-- <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Astro</span> -->
                <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
                <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span>
                <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span>
                <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
                <!-- <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span> -->
                <!-- <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">MUI</span> -->
            </div>
        </div>
        <p class="text-xl ">Proyecto desarrollado con React para empresa que vende cursos de ingles, maquetado con Tailwind y libreria Tw-Elements. Se utilizo React Router Dom para crear 4 secciones y cuenta con formulario de contacto. Simulacion de carga con libreria React-Spinners. Se integro EmailJS para formulario de contacto. </p>

                <div class="flex justify-center items-center">
            
            <a href="https://lots-of-learning.vercel.app/" target="_blank">

                <button class="font-bold relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xs sm:text-md lg:text-lg  text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-black dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Visit website
            </span>
        </button>
            </a>
            
            
            <a href="https://github.com/LLBdeveloper/lotsOfLearning" target="_blank">


                <button type="button" class="text-white bg-[#24292F] hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm sm:text-lg lg:text-xl px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2">
                    <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    Github
                </button>
            </a>
        </div>
    </div>
</div>

<div class="w-full h-3 bg-white"></div>

<div class="sm:flex my-20">
    <div class="sm:w-[50%] sm:m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Global Transport</h3>
        <div>
            <div>
                <!-- <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">React</span>
                <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Astro</span> -->
                <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
                <!-- <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span> -->
                <!-- <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span> -->
                <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
                <!-- <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span> -->
                <!-- <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">MUI</span> -->
            </div>
        </div>
        <p class="text-xl ">Sitio web para empresa de transporte en Buenos Aires. Desarrollada con HTML y CSS. Se utilizo para maquetar Grid y animaciones con css puro. Seccion Nosotros, Ubicacion y Contacto.</p>

                <div class="flex justify-center items-center">
            
            <a href="https://llbdeveloper.github.io/GLOBAL_TRANSPORT_WEB-v2.1-grid/" target="_blank">

                <button class="font-bold relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xs sm:text-md lg:text-lg  text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-black dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Visit website
            </span>
        </button>
            </a>
            
            
            <a href="https://github.com/LLBdeveloper/GLOBAL_TRANSPORT_WEB-v2.1-grid" target="_blank">


                <button type="button" class="text-white bg-[#24292F] hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm sm:text-lg lg:text-xl px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2">
                    <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    Github
                </button>
            </a>
        </div>
    </div>
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2FglobalTransportFull.png?alt=media&token=30ea4fba-e41f-48e9-b0cd-5f3199c5ddc7" class="w-[40rem] rounded-xl" alt="">
    </div>
</div>

<div class="w-full h-3 bg-white"></div>

<div class="sm:flex my-20">
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2FteslaFull.png?alt=media&token=fb091126-de90-4ef0-8e0a-579da2059a2c" class="w-[40rem] rounded-xl" alt="">
    </div>
    <div class="sm:w-[50%] sm:m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Clon de Testa website</h3>
        <div>
            <div>
                <!-- <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">React</span> -->
                <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Astro</span>
                <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
                <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span>
                <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span>
                <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
                <!-- <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span> -->
                <!-- <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">MUI</span> -->
            </div>
        </div>
        <p class="text-xl">Proyecto actualmente en desarrollo de un Clon del website de Tesla creado con el framework Astro Utilizando Vite, HTML y JavaScript para animaciones e interacciones, maquetado con Tailwind y Flexbox </p>

                <div class="flex justify-center items-center">
            
            <a href="https://tesla-web-clon.vercel.app/" target="_blank">

                <button class="font-bold relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xs sm:text-md lg:text-lg  text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-black dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Visit website
            </span>
        </button>
            </a>
            
            
            <a href="https://github.com/LLBdeveloper/TeslaWeb-Clon" target="_blank">


                <button type="button" class="text-white bg-[#24292F] hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm sm:text-lg lg:text-xl px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2">
                    <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    Github
                    </button>
            </a>
        </div>
    </div>
</div>

<div class="w-full h-3 bg-white"></div>

<div class="sm:flex my-20">
    <div class="sm:w-[50%] sm:m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Password Generator</h3>
        <div>
            <div>
                <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">React</span>
                <!-- <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Astro</span> -->
                <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
                <!-- <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span> -->
                <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span>
                <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
                <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span>
                <!-- <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">MUI</span> -->
            </div>
        </div>
        <p class="text-xl ">Proyecto desarrollado con React, y maquetado con Boostrap. Principalmente el contenido es un Script generador de constrasenas seguras. Tiene como dependencia instalada la libreria de animaciones animate.css</p>

                <div class="flex justify-center items-center">
            
            <a href="https://password-generator-six-liart.vercel.app/" target="_blank">

                <button class="font-bold relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xs sm:text-md lg:text-lg  text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-black dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Visit website
            </span>
        </button>
            </a>
            
            
            <a href="https://github.com/LLBdeveloper/PasswordGenerator" target="_blank">


                <button type="button" class="text-white bg-[#24292F] hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm sm:text-lg lg:text-xl px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2">
                    <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    Github
                    </button>
            </a>
            


        </div>

    </div>
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2FsecurePassword.png?alt=media&token=a4a26703-7686-43c4-b967-3335aefab614" class="w-[40rem] rounded-xl" alt="">
    </div>
</div>