---
import Starfield from "./Starfield.astro";
---

<section class="relative h-full bg-black ">
    <Starfield/>
    
    <div class="relative grid  h-full place-items-center ">
        
        <div class="  flex">

        <div class=" font-extrabold tracking-widest bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-pink-500 animate__animated animate__flash animate__delay-1s animate__repeat-2 ">
            <p class="text-start text-xs  md:text-lg lg:text-2xl text-violet-400">&lt;Lautaro Lucas Bertera/&gt;</p>
            <p class="text-center  text-3xl  md:text-5xl lg:text-8xl">Frontend</p>
            <p class="text-end text-3xl  md:text-5xl lg:text-8xl">dev.</p>
        </div>

        </div>

    </div>

</section>

<noscript>
    <style>
        #splash-bg-fallback {
        display: block;
        }
    </style>
</noscript>

<style>
    
    @media (prefers-reduced-motion: reduce) {
        :global(#starfield) {
        @apply hidden;
        }

        #splash-bg-fallback {
        @apply block;
        }
    }
</style>