---
import CarouselTech from './CarouselTech.astro'
---
<!--ESTA OK ESTE ES EL 100 DEL SECTION -->
<div class="overflow-hidden mx-2 p-1 sm:m-5  sm:p-5  h-full w-full flex flex-col  justify-center sm:justify-between border-4 border-neutral-800 rounded-3xl bg-position-center bg-size-auto bg-cover bg-image " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/moon2.jpg?alt=media&token=b4244afd-8180-4cf7-a73c-e4cd6c868dfc');">
    
    <div class=" flex sm:justify-start justify-center mb-3 sm:mb-10 sm:m-10">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/ufo.png?alt=media&token=f05fa373-1197-431f-8912-d0b54ffa2c24" class=" h-[2rem] sm:h-[3rem] md:h-[4rem] lg:h-[5rem] xl:h-[6rem] me-5" alt="">
        <h2 class="  text-xl sm:text-5xl md:text-6xl lg:text-7xl   bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-pink-500 font-extrabold">
            TECHNOLOGIES 
        </h2>

    </div>
    <div class="text-start hidden sm:flex sm:mx-10">
        <p class="sm:w-[70%]  font-bold sm:text-xl md:text-1xl lg:text-2xl  xl:m-2 text-white">In this space I invite you to explore the set of tools and technologies that I have mastered throughout my experience. In my career as a developer I have learned a wide range of technologies that allow me to create innovative and functional digital experiences.</p>

    </div>
    <div class="">
        <CarouselTech/>
    </div>
    
</div>




<!-- border-neutral-800 border-4 bg-opacity-80  bg-neutral-800 rounded-3xl -->